/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
}
.content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.split {
  width:100%;
  height:100%;
  padding: 10px;
  top:0px;
  left:0px;
  right:0px;
  bottom: 0px;
  /* border: 1px solid; */
}
.a {
  background: url("#");
  background-attachment: fixed;
}
.b {
  background: url("#");
  background-attachment: fixed;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  top:0px;
  left:0px;
  right: 0px;
  bottom: 0px;
}
.gutter {
  cursor: e-resize;
  height:100%;
  background: grey;
}

